html {
  height: 100%;
}

body {
  font: 1em helvetica, arial, sans-serif;
  height: 100%;
}


.cmd {
  background-image: url('../img/shahadat-shemul-1532411-unsplash.jpg');
}
.code {
  background-image: url('../img/chris-ried-512801-unsplash.jpg');
}
.comp {
  background-image: url('../img/christopher-gower-291246-unsplash.jpg');
}

.dateandtime {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  font-size: 2em;

  height: 100%;
  display: grid;
  place-content: center;
  text-align: center;
}

.dateandtime > div {
  background-color: goldenrod;
}