.page {
  display: none;
}
.page.index {
  background-color: gold;
}
.page.result {
  background-color: lightgreen;
}
.page.loading {
  background-color: lightblue;
}
.page.current {
  display: block;
}