.heading {
    font: 2em monospace;
    margin: 1em 0;
    padding: 0 1em;
}
.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 2px;
    width: 90vw;
    height: 90vw;
    margin: auto;
    background-color: lightgray;
}
.board > * {
    background-color: white;
    display: grid;
    place-content: center;
    font: 5em monospace;
}